<div id="page4"  >
  <nav class="navbar navbar-inverse">
    <p class="navbar-text" style="margin-left: 30px" id="page4UserID">{{email}}</p>
    <button type="button" class="btn btn-default navbar-btn navbar-right" style="margin-right: 20px" (click)="logout()">Log Out</button>
  </nav>
  <div class="col-md-10 col-md-offset-1">
    <div class="form-group col-md-4 col-md-offset-3" style="display: none">
      <input type="text" class="form-control" id="userID" [(ngModel)]="user._id">
    </div>
    <div class="form-group col-md-4 col-md-offset-3">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" [(ngModel)]="user.name.first">
    </div>
    <div class="form-group col-md-4 col-md-offset-3">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" [(ngModel)]="user.name.last">
    </div>
    <div class="form-group col-md-4 col-md-offset-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="jane.doe@example.com" [(ngModel)]="user.email">
    </div>

    <div class="form-group col-md-4 col-md-offset-3">
      <label>Rule</label><br>
      <label class="radio-inline">
        <input type="radio" name="radio" id="admin" value="option1" [disabled]="disableRadio" [checked]="user.role == 'ADMIN'" (change)="toggleAdmin($event)"> ADMIN
      </label>
      <label class="radio-inline">
        <input type="radio" name="radio" id="user" value="option2" [disabled]="disableRadio" [checked]="user.role == 'USER'" (change)="toggleUser($event)"> USER
      </label>
    </div>
    <div class="form-group col-md-4 col-md-offset-3">
      <label>Enabled</label><br>
      <div class="checkbox">
        <label>
          <!--<input type="checkbox" id="enabled" [checked]="user.enabled == 'Enabled'" [(ngModel)]="user.enabled"> Enabled-->
          <input type="checkbox" id="enabled" [checked]="user.enabled == 'Enabled'" [disabled]="disableCheck" (change)="toggleEnabled($event)"> Enabled

        </label>
      </div>
    </div>
    <div class="form-group col-md-9 col-md-offset-3">
      <button type="submit" class="btn btn-default col-md-1" (click)="backToAdminPage()">Back</button>
      <button type="submit" class="btn btn-default col-md-1 col-md-offset-1"  id="update" (click)="updateUser()">Update</button>
    </div>
    <div class="form-group col-md-9 col-md-offset-3" *ngIf="invalid3===1" >
      <label style="color: #873920;" id="invalid3"  >Incompelete form</label>
    </div>
    <div class="form-group col-md-9 col-md-offset-3" *ngIf="invalid4===1">
      <label style="color: #873920;" id="invalid4"  >Invalid format of email!</label>
    </div>
  </div>



</div>
